# macOS
.DS_Store

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# IDE
.idea/
*.iml

# Android Studio / IntelliJ
*.ipr
*.iws

# VS Code
.vscode/

# Generated
**/generated_plugin_registrant.dart

# Logs
*.log
